.about-us {
	.jumbotron.about-page {
		height: 100vh;
		margin-bottom: 0px !important;
		position: relative;		
		z-index: -1;
		@media(max-width: 767px) {
			height: 632px;
		}
		p {
			margin-left: 50%;
			transform: translate(-50%);
			width: 25%;
			font-family: Karla;
			font-size: 20px;
			color: white;
			position: absolute;
			top: 45%;
			@media(max-width: 767px) {
				font-size: 16px;
				width: 100%;
				text-align: center;
			}
		}
	}
	.our-services {
		padding-top: 50px;
		@media(max-width: 767px) {
			padding-top: 0;
		}
		h2 {
			font-family: Karla;
			font-size: 24px;
			font-weight: 700;
		}
		h2.title_our_services {
			@media(max-width: 767px) {
				font-size: 20px;
				width: 100%;
			}
		}
		p {
			margin-top: 15px;
			font-family: Karla;
			font-size: 18px;
		}
		.col-md-3 {
			@media(max-width: 767px) {
			 	margin-top: 30px;
			}
		}
	}
	.our-goals {
		margin-top: 100px;
	}
	.our-goals, .our-family, .our-experience {
		position: relative;
		@media(max-width: 767px) {
			padding: 0;
			height: 200px;
		}
		img {
			width: 100%;
			@media(max-width: 767px) {
				height: 200px;
			}
		}
		.after {
			background: rgba(0, 0, 0, .6);
			position: absolute;
			top: 0;
			right: 15px;
			height: 100%;
			color: #FFF;
			left: 15px;
			@media(max-width: 767px) {
				right: 0;
				left: 0;
			}
		}
		h2 {
			position: absolute;
			left: 50%;
			transform: translate(-50%);
			top: 35%;
			font-family: Karla;
			font-weight: 100;
			color: white;
			@media(max-width: 767px) {
				font-size: 20px;
				font-weight: 700;
				top: 22%;
			}
		}
		p {
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translate(-50%);
			width: 537px;
			color: white;
			font-family: Karla;
			font-size: 24px;
			text-align: center;
			@media(max-width: 767px) {
				font-size: 14px;
				width: 318px;
				top: 40%;
			}
		}
	}
	.our-approach {
		margin-top: 50px;
		@media(max-width: 767px) {
			margin-top: 30px;
		}
		h2 {
			font-family: Karla;
			font-size: 24px;
			font-weight: 700;
			@media(max-width: 767px) {
				font-size: 20px;
			}
		}
		p {
			font-family: Karla;
			font-size: 16px;
		}
		span.col-md-4 {
			@media(max-width: 767px) {
				margin-top: 40px;
			}
		}
	}
	.our-clients {
		background: black;
		padding-top: 30px;
		margin-top: 100px;
		color: white;
		h2 {
			font-family: Karla;
			font-size: 24px;
			font-weight: 700;
		}
		p {
			font-family: Karla;
			font-size: 16px;
			padding-top: 10px;
		}
		input {
			margin-top: 20px;
			width: 100%;
			height: 40px;
		}
	}
	.contact-us {
		display: none;
		@media(max-width: 767px) {
			display: block;
		}
	}
}