.btn-lva-main {
	border: 1px solid #EC1944;
	font-family: Karla;
	font-size: 14px;
	padding: 5px 15px 5px 15px;
	color: #EC1944;
	transition: .3s all;
	&:hover {
		background: #EC1944;
		color: white;
	}
}
.btn-project {
	border: none;
	border-bottom: 1px solid white;
	color: white;
	font-family: Karla;
	font-size: 14px;
	background: transparent;
	padding-left: 0;
	padding-right: 20px;
	@media(max-width: 767px) {
		border-bottom: 0;
	}
}
.btn-lva-main-inverse {
	border: 1px solid #EC1944;
	font-family: Karla;
	font-size: 14px;
	padding: 5px 15px 5px 15px;
	color: white;
	background: #EC1944;
	transition: .3s all;
	&:hover {
		background: white;
		color: #EC1944;
	}
}
.btn-lva-inverse {
	height: 40px;
	border: none;
	color: black;
	font-family: Karla;
	font-size: 14px;
	padding: 5px 20px 5px 20px;
	transition: .3s all;
	&:hover {
		background: black;
		color: white;
	}
}	