.navbar-default {
	margin-bottom: 0 !important;
	position: absolute;
	background: transparent;
	border: none;
	width: 100%;
	margin-top: 30px;
	z-index: 20;
	@media(max-width: 767px) {
		margin-left: 15px;
	}
	.navbar-header {
		width: 100%;
		a.hamburger_menu {
			color: white;
			float: right;
			&:hover {
				cursor: pointer;
			}
		}
	}
	.navbar-nav > .active > a {
		color: white;
		background: transparent;
		&:hover {
			background: transparent;
			color: white;
		}
	}
	.overlay {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;
		background: linear-gradient(to right, rgba(236, 25, 68, 0.7), rgba(132, 45, 106, 1));
		background: linear-gradient(to right, rgba(236, 25, 68, 0.7), rgba(132, 45, 106, 1));
		overflow-x: hidden;
		transition: 0.5s;
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
	}
	.overlay-content {
		display: none;
		transition: .3s all;
		position: absolute;
		z-index: 999;
		width: 100%;
		text-align: center;
		margin-top: 80px;
		ul {
			width: 100%;
			margin-top: 25%;
			@media(max-width: 767px) {
				text-align: center;
			}
			li {
				float: none;
				margin-top: 20px;
				a {
					color: white;
					font-family: Karla;
					font-size: 36px;
					font-weight: 700;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
	.container.hamburger_menu {
		display: inline-block;
		cursor: pointer;
		width: auto;
		float: right;
	}

	.bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: white;
		margin: 6px 0;
		transition: 0.4s;
	}

	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2 {opacity: 0;}

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}
}
footer.site-footer {
	margin-top: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #272727;
	@media(max-width: 767px) {
		background: #EC1944;
	}
	.row.site-info {
		@media(max-width: 767px) {
			display: inline-grid;
			width: 90%;
		}
	}
	span {
		width: 50%;
	}
	span.footer-logo_lyrehouse {
		img {
			float: left;
		}
		a {
			i {
				margin-right: 5px;
			}
			color: white;
			margin-top: 10px;
			margin-left: 0;
			float: left;
			clear: both;
			font-family: Roboto;
			font-size: 8px;
			&:hover {
				text-decoration: none;
				color: white;
			}
		}
	}
	span.site-nav {
		@media(max-width: 767px) {
			width: 100%;
		}
		a {
			margin-left: 20px;
			color: white;
			float: right;
			margin-top: 30px;
			&:hover {
				text-decoration: none;
				cursor: pointer;
			}
			@media(max-width: 767px) {
				float: left;
				margin-left: 0;
				width: 100%;
				border-bottom: 1px solid white;
			}
		} 
	}
}