.page-template-home {
	.jumbotron.landing-page {
		-webkit-background-size: cover;
		height: 100vh;
		margin-bottom: 0px !important;
		@media(max-width: 767px) {
			height: 632px;
		}
		.content-area {
			margin-top: 100px;
		}
		h1 {
			font-family: Gotham;
			font-weight: 100;
			width: 432px;
			font-size: 42px;
			color: white;
			@media(max-width: 767px) {
				text-align: center;
				font-size: 27px;
				width: 100%;
			}
		}
		p {
			font-family: Karla;
			font-size: 20px;
			width: 432px;
			color: white;
			@media(max-width: 767px) {
				width: 100%;
				font-size: 16px;
				text-align: center;
				margin-top: 50px;
			}
		}
	}
	.lastest-updates {
		position: relative;
		margin-top: 30px;
		.col-md-4 {
			@media(max-width: 767px) {
				padding-left: 0;
				padding-right: 0;
			}
		}
		.col-md-4:nth-child(1) {
			@media(max-width: 767px) {
				margin-bottom: 30px;
			}
		}
		.col-md-4:nth-child(2) {
			@media(max-width: 767px) {
				margin-bottom: 50px;
			}
		}
		.col-md-4:nth-child(3) {
			text-align: right;
			input {
				height: 40px;
			}
			@media(max-width: 767px) {
				text-align: center;
				margin-bottom: 0;
			}
		}
		h1:first-of-type {
			font-family: Karla;
			font-size: 24px;
			font-weight: 700;
			@media(max-width: 767px) {
				text-align: center;
				font-size: 20px;
			}
		}
		p:first-of-type {
			width: 432px;
			font-family: Karla;
			font-size: 16px;
			@media(max-width: 767px) {
				width: 100%;
				text-align: center;
			}
		}
	}
	.projects {
		margin-top: 90px;
		position: relative;
		@media(max-width: 767px) {
			padding: 0;
			margin-top: 30px;
		}
		img {
			width: 100%;
			@media(max-width: 767px) {
				height: 200px;
			}
		}
		.project {
			position: relative;
			margin-bottom: 30px;
			@media(max-width: 767px) {
				padding: 0;
				margin-bottom: 0;
				height: 200px;
			}
		}
		.after {
			background: rgba(0, 0, 0, .6);
			position: absolute;
			top: 0;
			right: 15px;
			height: 100%;
			color: #FFF;
			left: 15px;
			@media(max-width: 767px) {
				right: 0;
				left: 0;
			}
		}
		.lbl_category {
			position: absolute;
			left: 16%;
			top: 45%;
			font-family: Karla;
			font-weight: 100;
			color: white;
			@media(max-width: 767px) {
				top: 30%;
			}
		}
		.post_title {
			position: absolute;
			top: 50%;
			width: 432px;
			color: white;
			font-family: Gotham;
			font-weight: 700;
			font-size: 42px;
			left: 16%;
			@media(max-width: 767px) {
				font-size: 20px;
				width: 218px;
				top: 40%;
			}
		}
		a {
			position: absolute;
			left: 16%;
			top: 68%;
			@media(max-width: 767px) {
				border: 1px solid white;
				padding: 5px 20px 5px 20px;
				border-radius: 4px;
			}
			&:after {
				font-family: 'FontAwesome';
				content: '\f054';
				color: white;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	.our_work {
		@media(max-width: 767px) {
			margin-top: 30px;
		}
		.col-md-4:nth-child(1), .col-md-4:nth-child(2), .col-md-4:nth-child(3) {
			@media(max-width: 767px) {
				padding: 0;
			}
		}
		.col-md-4:nth-child(1) {
			@media(max-width: 767px) {
				margin-bottom: 30px;
			}
		}
		.col-md-4:nth-child(2) {
			@media(max-width: 767px) {
				margin-bottom: 50px;
			}
		}
		.col-md-4:nth-child(3) {
			text-align: right;
			input {
				height: 40px;
			}
			@media(max-width: 767px) {
				text-align: center;
			}
		}
		h1:first-of-type {
			font-family: Karla;
			font-size: 24px;
			font-weight: 700;
			@media(max-width: 767px) {
				text-align: center;
				font-size: 20px;
			}
		}
		p:first-of-type {
			width: 432px;
			font-family: Karla;
			font-size: 16px;
			@media(max-width: 767px) {
				width: 100%;
				text-align: center;
			}
		}
	}
	.work-wrapper {
		@media(max-width: 767px) {
			padding: 0;
		}
		.work {
			position: relative;
			margin-top: 90px;
			@media(max-width: 767px) {
				margin-top: 30px;
				padding: 0;
			}
			.col-md-4 {
				transition: .3s all;
				padding: 0;
				@media(max-width: 767px) {
					height: 320px;
				}
				&:hover {
					.after, a, .lbl_category, .post_title {
						display: block;
						transition: .3s all;
					}
					img {
						-webkit-filter: blur(5px);
						-moz-filter: blur(5px);
						-o-filter: blur(5px);
						-ms-filter: blur(5px);
						filter: blur(5px);
						transition: .3s all;
					}
				}
			}
			.after, a, .lbl_category, .post_title {
				display: none;
				transition: .3s all;
			}
			.after {
				background: rgba(0, 0, 0, .6);
				position: absolute;
				top: 0;
				right: 0px;
				height: 100%;
				color: #FFF;
				left: 0px;
				transition: .3s all;
			}
			img {
				width: 100%;
				height: 556px;
				@media(max-width: 767px) {
					height: 320px;
				}
			}
			a {
				position: absolute;
				left: 16%;
				top: 68%;
				transition: .3s all;
				@media(max-width: 767px) {
					top: 55%;
					border: 1px solid white;
					padding: 5px 20px 5px 20px;
					border-radius: 4px;
				}
				&:after {
					font-family: 'FontAwesome';
					content: '\f054';
					color: white;
				}
				&:hover {
					text-decoration: none;
				}
			}
			.lbl_category {
				position: absolute;
				left: 16%;
				top: 45%;
				font-family: Karla;
				font-weight: 100;
				color: white;
				transition: .3s all;
				@media(max-width: 767px) {
					top: 32%;
				}
			}
			.post_title {
				position: absolute;
				top: 50%;
				width: 258px;
				color: white;
				font-family: Gotham;
				font-weight: 700;
				font-size: 27px;
				left: 16%;
				transition: .3s all;
				@media(max-width: 767px) {
					font-size: 20px;
					top: 38%;
					width: 208px;
				}
			}
		}
	}
	.digital_strategy {
		margin-top: 30px;
		@media(max-width: 767px) {
			margin-top: 0px;
		}
		h1.box-title {
			font-family: Karla;
			font-size: 24px;
			font-weight: 700;
			width: 100%;
			text-align: center;
			@media(max-width: 767px) {
				display: none;
			}
		}
		.black_bg {
			background: #191919;
			margin-top: 30px;
			@media(max-width: 767px) {
				margin-top: 0;
			}
		}
		.our_approach {
			position: relative;
			padding-top: 30px;
			margin-left: 30px;
			margin-right: 30px;
			.bg1 {
				width: 100%;
				height: 391px;
				@media(max-width: 767px) {
					height: 195px;
				}
			}
			.box-our_approach {
				position: absolute;
				top: 30%;
				left: 30px;
				width: 541px;
				padding-top: 20px;
				padding-bottom: 30px;
				color: white;
				background: #EC1944;
				@media(max-width: 767px) {
					position: relative;
					left: 0px;
					width: 100%;
				}
				span {
					font-family: Gotham;
					font-size: 16px;
				}
				h1 {
					font-family: Gotham;
					font-size: 24px;
					text-align: left;
				}
				p {
					font-family: Karla;
					margin-top: 15px;
					margin-bottom: 30px;
					font-size: 16px;
				}
				input {
					@media(max-width: 767px) {
						width: 100%;
					}
				}
			}
		}
		.our_services {
			position: relative;
			margin-left: 30px;
			margin-right: 30px;
			padding-bottom: 30px;
			@media(max-width: 767px) {
				margin-top: 30px;
			}
			.bg2 {
				width: 100%;
				height: 391px;
				@media(max-width: 767px) {
					height: 195px;
				}
			}
			.box-our_services {
				position: absolute;
				top: 24%;
				left: 30px;
				width: 541px;
				padding-top: 20px;
				padding-bottom: 30px;
				color: white;
				background: #842D6A;
				@media(max-width: 767px) {
					position: relative;
					left: 0px;
					width: 100%;
				}
				span {
					font-family: Gotham;
					font-size: 16px;
				}
				h1 {
					font-family: Gotham;
					font-size: 24px;
					text-align: left;
				}
				p {
					font-family: Karla;
					margin-top: 15px;
					margin-bottom: 30px;
					font-size: 16px;
				}
				input {
					@media(max-width: 767px) {
						width: 100%;
					}
				}
			}
		}
	}
}
.contact-us {
	position: relative;
	.jumbotron {
		width: 100vw;
		height: 100vh;
		padding: 0;
		margin: 0;
		@media(max-width: 767px) {
			height: 320px;
		}
		.after {
			background: rgba(25, 25, 25, .3);
			position: absolute;
			top: 0;
			right: 0px;
			height: 100%;
			width: 100%;
			color: #FFF;
			left: 0px;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	.content-contact {
		position: absolute;
		width: 100%;
		top: 20%;
		text-align: center;
		color: white;
		font-family: Gotham;
		h1 {
			font-size: 42px;
			padding-top: 0;
			@media(max-width: 767px) {
				font-size: 24px;
			}
		}
		h2 {
			font-size: 36px;
			font-weight: lighter;
			margin-top: 80px;
			@media(max-width: 767px) {
				margin-top: 25px;
				font-size: 20px;
			}
			span {
				border-bottom: 4px solid white;
				padding-bottom: 30px;
				strong {
					font-weight: 500;
				}
			}
		}
		h3 {
			font-size: 24px;
			padding-bottom: 0;
			font-weight: 100;
			@media(max-width: 767px) {
				font-size: 16px;
			}
		}
	}
}