.page-template-landing {
	.navbar {
			display: none;
	}
	footer {
		display: none;
	}
	.lyh_landing-page {
		background: linear-gradient(to right, rgba(236, 25, 68, 0.7), rgba(132, 45, 106, 1));
		height: 100vh;
	}
	.landing-box {
		position: absolute;
		top: 42.5vh;
		left: 41vw;
		text-align: center;
		p {
			font-size: 20px;
			font-family: Karla;
			color: white;
		}
		input {
			height: 40px;
			width: 100px;
			margin-top: 20px;
		}
		input[type="text"] {
			width: 200px;
			text-align: center;
		}
		.code-box {
			position: absolute;
			top: 0;
			display: none;
			width: 300px;
		}
		.question {
			position: absolute;
			top: 0;
			width: 300px;
		}
	}
}

