.lyh-projects {
	background: #191919;
	.page-navigation {
		margin-left: 0;
		margin-top: 15%;
		@media(max-width: 767px) {
			margin-top: 35%;
			display: block;
		}
		h1 {
			font-family: Gotham;
			font-size: 20px;
			color: white;
			padding-top: 0;
			padding-left: 0;
		}
		.form-group{
			width: 15%;
			color: white;
			font-family: Karla;
			position: relative;
			@media(max-width: 767px) {
				width: 50%;
				padding-left: 0;
				float: left;
			}
			&:before {
				content: "\f078";
				font-family: FontAwesome;
				position: absolute;
				right: 30px;
				top: 30px;
				width: 0; 
				height: 0;
			}
			label {
				font-size: 16px;
				margin-bottom: 0;
				font-weight: lighter;
			}
			select {
				background: transparent;
				color: white;
				padding-left: 0;
				padding-bottom: 0px;
				border: none;
				border-bottom: 1px solid white;
				font-weight: 700;
				font-size: 16px;
			}
		}
	}
	.all-projects {
		position: relative;
		margin-top: 50px;
		margin-bottom: 50px;
		@media(max-width: 767px) {
			margin-bottom: 30px;
			padding: 0;
		}
		.col-md-4 {
			transition: .3s all;
			@media(max-width: 767px) {
				height: 320px;
			}
			&:hover {
				.after, a, .lbl_category, .post_title {
					display: block;
					transition: .3s all;
				}
				img {
					-webkit-filter: blur(5px);
					-moz-filter: blur(5px);
					-o-filter: blur(5px);
					-ms-filter: blur(5px);
					filter: blur(5px);
					transition: .3s all;
				}
			}
		}
		.after, a, .lbl_category, .post_title {
			display: none;
			transition: .3s all;
		}
		.after {
			background: rgba(0, 0, 0, .6);
			position: absolute;
			top: 0;
			right: 0px;
			height: 100%;
			color: #FFF;
			left: 0px;
			transition: .3s all;
		}
		img {
			width: 100%;
			height: 556px;
			@media(max-width: 767px) {
				height: 320px;
			}
		}
		a {
			position: absolute;
			left: 16%;
			top: 68%;
			transition: .3s all;
			@media(max-width: 767px) {
				border: 1px solid white;
				padding: 5px 20px 5px 20px;
				border-radius: 4px;
				top: 54%;
			}
			&:after {
				font-family: 'FontAwesome';
				content: '\f054';
				color: white;
			}
			&:hover {
				text-decoration: none;
			}
		}
		.lbl_category {
			position: absolute;
			left: 16%;
			top: 45%;
			font-family: Karla;
			font-weight: 100;
			color: white;
			transition: .3s all;
			@media(max-width: 767px) {
				top: 30%;
			}
		}
		.post_title {
			position: absolute;
			top: 50%;
			width: 258px;
			color: white;
			font-family: Gotham;
			font-weight: 700;
			font-size: 27px;
			left: 16%;
			transition: .3s all;
			@media(max-width: 767px) {
				font-size: 20px;
				width: 218px;
				top: 36%;
			}
		}
	}
}