section#single {
	.post_bg {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
		width: 100%;
		height: 400px;
		.after {
			background:linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
			position: absolute;
			top: 0;
			right: 0px;
			height: 100%;
			color: #FFF;
			left: 0px;
			transition: .3s all;
		}
	}
	.page-nav {
		position: relative;
		padding-top: 100px;
		@media(max-width: 767px) {
			padding-top: 130px;
		}
		.col-md-3 {
			padding:0;
		}
		.col-md-3:last-of-type {
			text-align: right;
		}
		.col-md-6 {
			color: white;
			text-align: center;
			font-family: Gotham;
			font-size: 42px;
			font-weight: 700;
			@media(max-width: 767px) {
				font-size: 20px;
				padding-left: 0;
				text-align: left;
				width: 327px;
				margin-top: 75px;
			}
		}
		a:first-of-type {
			input {
				@media(max-width: 767px) {
					border-bottom: 1px solid white;
				}
			}
			&:after {
				font-family: FontAwesome;
				content: '\f053';
				color: white;
			}
			&:hover {
				text-decoration: none;
			}
		}
		a:last-of-type {
			&:after {
				font-family: FontAwesome;
				content: '\f054';
				color: white;
				@media(max-width: 767px) {
					color: #EC1944;
				}
			}
			&:hover {
				text-decoration: none;
			}
			@media(max-width: 767px) {
				background: white;
				width: 100%;
				text-align: center !important;
				margin-top: 30px;
			}
			input {
				@media(max-width: 767px) {
					color: #EC1944;
					height: 40px;
				}
			}
		}
		.post-quarter {
			color: white;
			font-family: Karla;
			font-size: 14px;
			@media(max-width: 767px) {
				position: absolute;
				top: 185px;
			}
		}
	}
	.company-bg {
		background: #000;
		.company-stuff {
			position: relative;
			z-index: 1;
			@media(max-width: 767px) {
				padding: 0;
			}
			.company-stuff-bg {
				background: #191919;
				padding: 0 !important;
				span.company_info {
					color: white;
					font-family: Karla;
					font-size: 16px;
					padding-top: 20px;
					@media(max-width: 767px) {
						font-size: 14px;
						padding-top: 0;
					}
				}
				.company_btn-wrapper {
					padding-right: 0;
					@media(max-width: 767px) {
						width: 100%;
					}
					input {
						float: right;
						margin-top: 20px;
						height: 40px;
						@media(max-width: 767px) {
							width: 100%;
						}
					}
				}
				.company_logo-wrapper {
					padding-left: 0;
					@media(max-width: 767px) {
						width: 100%;
						text-align: center;
					}
				}
			}
			.company-images {
				@media(max-width: 767px) {
					margin-top: 30px;
				}
				.company-feature_imgs {
					margin: 0;
					.feature_imgs {
						padding: 0;
						max-height: 300px;
						width: 100%;
					}
				}
				.last_feature_img {
					width: 100%;
					max-height: 540px;
				}
			}
			.company_content {
				padding-top: 20px;
				padding-bottom: 50px;
				.project-content {
					color: white;
					max-width: 443px;
					font-family: Karla;
					font-size: 16px;
					@media(max-width: 767px) {
						padding: 15px;
					}
				}
			}
		}
	}
	.contact-page {
		margin-top: -50px;
	}
}