.write-us {
	.page-navigation {
		background: linear-gradient(to right, rgba(236, 25, 68, 0.7), rgba(132, 45, 106, 1));
		color: white;
		padding-bottom: 10%;
		h3:first-of-type {
			
		}
		a {
			@media(max-width: 767px) {
				padding-left: 0;
				margin-top: 20px;
				width: 100%;
				padding-right: 10px;
			}
			&:after {
				font-family: 'FontAwesome';
				content: '\f054';
				color: white;
				@media(max-width: 767px) {
					right:0;
					position: absolute;
					border-bottom: 1px solid white;
				}
			}
			&:hover {
				text-decoration: none;
			}
			.social-media_btn {
				background: transparent;
				color: white;
				border: none;
			}
			span {
				border-bottom: 1px solid white;
				padding-bottom: 6px;
				width: 250px;
				&:before {
					font-family: 'FontAwesome';
					color: white;
					@media(max-width: 767px) {
						position: absolute;
					}
				}
				input {
					@media(max-width: 767px) {
						width: 100%;
						text-align: left;
						padding-left: 30px;
					}
				}
			}
			&:nth-child(1) {
				@media(max-width: 767px) {
					margin-top: 0;
				}
				span {
					&:before {
						content: '\f09a';
					}
				}
			}
			&:nth-child(2) {
				span {
					&:before {
						content: '\f0d5';
					}
				}
			}
			&:nth-child(3) {
				span {
					&:before {
						content: '\f16d';
					}
				}
			}
			&:nth-child(4) {
				span {
					&:before {
						content: '\f099';
					}
				}
			}
		}
		.btn-group {
			margin-left: 0px;
			margin-top: 30px;
		}
		h3 {
			margin-top: 15%;
			font-family: Karla;
			font-size: 20px;
			padding-bottom: 20px;
			@media(max-width: 767px) {
				margin-top: 115px;
			}
		}
		p {
			@media(max-width: 767px) {
				font-size: 24px;
				font-family: Karla;
			}
		}
	}
	.google_map {
		iframe {
			height:100%;
			width:100%;
			border:0;
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
			filter: gray; /* IE6-9 */
			-webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
			-webkit-backface-visibility: hidden;  /* Fix for transition flickering */
		}
		margin-left: 15px;
		margin-right: 15px;
		margin-top: -5%;
		@media(max-width: 767px) {
			margin-left: 0;
			width: 100% !important;
		}
	}
	#embeddedmap-display img.text-marker {
		max-width:none!important;
		background:none!important;
	}
	.map_address {
		position: relative;
		margin-top: -115px;
		background: white;
		padding-top: 20px;
		.address {
			font-family: Karla;
			font-size: 12px;
			position: relative;
			h3 {
				font-family: Karla;
				font-size: 20px;
				@media(max-width: 767px) {
					border-bottom: 1px solid;
					margin-bottom: 10px;
				}
			}
			.col:first-of-type {
				padding-left: 0;
			}
			.col {
				@media(max-width: 767px) {
					float: left;
					width: 50%;
					font-size: 14px;
				}
			}
			input {
				float: left;
				clear: both;
				margin-top: 20px;
				height: 40px;
				width: 100%;
				@media(max-width: 767px) {
					top: 20em;
					left: 0;
					position: absolute;
				}
			}
			@media(max-width: 767px) {
				width: 100%;
			}
		}
		.desc {
			width: 30%;
			position: absolute;
			right: 15px;
			font-family: Karla;
			font-size: 16px;
			@media(max-width: 767px) {
				position: relative;
				width: 100%;
				padding-left: 15px;
				margin-top: 30px;
			}
		}
	}
	.contact-form {
		margin-bottom: 20%;
		@media(max-width: 767px) {
			margin-bottom: 30px;
		}
		h2 {
			font-family: Karla;
			font-size: 24px;
			font-weight: 700;
			margin-top: 50px;
			@media(max-width: 767px) {
				margin-top: 150px;
				font-size: 20px;
				width: 100%;
				margin-left: 0;
				justify-content: center;
			}
		}
		#wpcf7-f7-o1 {
			width: 100%;
			label {
				font-family: Karla;
				font-size: 14px;
				font-weight: 100;
				width: 100%;
				margin-top: 20px;
			}
			form {
				overflow: -webkit-paged-x;
			}
			input[type="text"], input[type="number"], input[type="email"] {
				height: 40px;
				width: 100%;
			}
			input[type="number"]::-webkit-inner-spin-button, 
			input[type=number]::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			input[type="submit"] {
				@media(max-width: 767px) {
					width: 100%;
					margin-top: 30px;
				}
			}
			.col-sm-4 {
				padding: 15px;
				@media(max-width: 767px) {
					padding: 0;
					width: 100%;
				}
			}
			.row {
					@media(max-width: 767px) {
					margin-right: 0;
					}
				}
			.col-sm-4:first-of-type {
				padding-left: 0;
			}
			.col-sm-4:last-of-type {
				padding-right: 0;
				input[type="submit"] {
					float: right;
					height: 40px;
				}
				span.wpcf7-list-item {
					margin-left: 0;
				}
				label:first-of-type {
					height: 100%;
					textarea {
						height: 100%;
						width: 100%;
						resize: none;
					}
				}
			}
		}
	}
	.contact-us {
		display: none;
		@media(max-width: 767px) {
			display: block;
		}
	}
}